/* PHASE 2: Notifications */

.badge {
  background-color: white;
  color: red;
  font-weight: bold;
  padding: 5px;
  border-radius: 100%;
  margin-left: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: red;
  z-index: 1;
  padding-left: 5px;
  min-width: 155px;
}

.dropdown:hover .dropdown-content {
  display: block;
}